body{
  align: center;
  background-color: #f9f9f9;
}
p{
  color: black;
  padding: 25px;
}
h1{
  padding: 100px;
}

.navItem{
  display: block;
  float: left;
  padding: 10px;
  background-color: #ffffff;
}

.navBar{
  /**/
  border-top: 4px solid #03fcd7;
  border-bottom: 4px solid #03fcd7;
}


