@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #1a1a1a; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
  min-height: 100vh;
}
