@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 2, 0, 36;
  --background-end-rgb: 13, 13, 48;
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: #0d0d30;
    background-image: 
      repeating-radial-gradient(circle at 0 0, transparent 0, #0d0d30 10px),
      repeating-linear-gradient(#0e0e32, #0e0e32);
  min-height: 100vh;
}
